.main__body {
  margin-top: 30px;
  margin-bottom: 150px;
}

.menu__main {
  animation: 2s menuMainAM ease-in;
}

.menu__header {
  display: flex;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 50px;
  animation: 1s headerAM ease-in;
}

.menu__header .menu__head {
  padding-left: 13px;
}

.menu__header a {
  color: black;
}

@keyframes headerAM {
  from {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}

@keyframes menuMainAM {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}
