.itsme__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itsme__img__1 {
  max-width: 600px;
  max-height: 600px;
}

.sns__link {
  margin-top: 40px;
}

.sns__btn {
  font-size: 40px;
  margin: 50px;
  color: black;
}
.email__address {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-top: 50px;
  font-size: 20px;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
