.itsme__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itsme__img {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  opacity: 0;
  animation: slowly 4s ease-in-out;
}
@keyframes slowly {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sns__link {
  margin-top: 40px;
}

.sns__btn {
  font-size: 40px;
  margin: 50px;
  color: black;
}
.email__address {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-top: 50px;
  font-size: 20px;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.showing {
  display: flex;
  opacity: 1;
}
