.menu__main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.programming__1__img {
  max-width: 400px;
  max-height: 400px;
}

.programming__1__article {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: black;
}
